body > .nav{
    background-color: #f5f5f5;
}
    
main > .container {
    padding: 28px 15px 0;
    width: auto;
    overflow: scroll;
}

.opinion{
    min-width: 96px;
    width: 48px;
    max-width: 96px;
    min-height: 48px;
    height: 24px;
    max-height: 48px;
}

.profile > 
    a:hover,
    a:active,   
    a:link{
    color: black! important;
}

.article-btn{
    font-size: 0.75rem;
}

.article-source{
    min-height: 40px;
}

.article-comment{
    border: 0.5px solid gray;
    min-height: 75px;
}

.comment-profile,
.comment-description{
    min-height: 75px;
}

.opinion-comment-div{
    padding-right: 5px! important;
}

.opinion-comment{
    min-width: 65px;
    width: 65px;
    max-width: 65px;
    min-height: 45px;
    height: 45px;
    max-height: 45px;
}

.opinion-comment-disagree{
    margin-bottom: 3px;
}

.footer {
    align-items: center;
    background-color: #f5f5f5;
    width: 100%;
    height: auto;
    position: static;
    bottom: 0;
    text-align: center;
    right: 2rem;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.form-btn{
    cursor: pointer;
}