body > .nav{
    background-color: #f5f5f5;
}
    
main > .container {
    padding: 28px 15px 0;
    width: auto;
    overflow: scroll;
}

.profile > 
    a:hover,
    a:active,   
    a:link{
    color: black! important;
}

.footer {
    align-items: center;
    background-color: #f5f5f5;
    width: 100%;
    height: auto;
    position: static;
    bottom: 0;
    text-align: center;
    right: 2rem;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.articles-Div{
    border: 1px solid black;
    max-height: 615px;
}

.best-title{
    max-width: 160px;
    margin: 5px auto;
    font-weight: 600;
    font-size: 18px;
}

.div-border-first,
.div-border-second{
    min-height: 160px;
    padding-top: 5px;
    padding-right: 0px;
    padding-left: 0px;
}
.article-best-title{
    max-width: 95%;
}

table{
    border: 1px solid black;
}

thead{
    width: 100%;
}

td{
    font-size: 14px;
}

#number{
    min-width: 65px;
    width: 65px;
    max-width: 65px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 13px;
    font-weight: 600;
}

#division{
    min-width: 68px;
    width: 83px;
    max-width: 68px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 13px;
}

#title{
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 13px;
}

#wrtier{
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 13px;
}

#date{
    min-width: 72px;
    width: 72px;
    max-width: 72px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 13px;
}

.text-center{
    font-size: 13px;
}

a{
    color : black
}
.page-nav > a:visited{
    opacity: .2;
    color: #00908D;
}
.page-nav > a:hover{
    color : #00908D;
    border: 1px solid rgba(0,0,0, .3); 
    border-radius: 8%;
}
.btn-now{
    color : #00908D;
    border: 1px solid rgba(0,0,0, .3); 
    border-radius: 8%;
}
